DEBUG = False
SEGMENTATION_NAME = 'fafb-v14-fafb-ffn1-20200412'
CLOUDVOLUME_URL = 'precomputed://gs://fafb-ffn1-20200412/segmentation/'
CLOUDVOLUME_URL_REMOTE = 'precomputed://gs://fafb-ffn1-20200412/segmentation/'
CLOUDVOLUME_SKELETONS = 'skeletons_scale4'
DEFAULT_IMPORT_USER = 1
CONNECTORID_OFFSET = 13143730071000001
